name: CI
on: push

permissions:
  contents: read

jobs:

  test:

    name: Test
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Create test file
        run: touch test

      - name: Hash test file
        id: hash
        uses: ./
        with:
          path: test

      - name: Compare SHA256 of test file
        run: echo "$HASH  test" | sha256sum -c -
        shell: bash
        env:
          HASH: ${{ steps.hash.outputs.sha256 }}
